.pdf-header {
    margin-top: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    color: #000;
}

.pdf-footer {
    border: none;
    color: #000;
}

a,
p a,
a:visited,
a:active {
    color: #000!important;
}