.pdf-header {
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    color: #000;
}

.pdf-footer {
    border: none;
    color: #000;
}

a,
a:hover,
a:focus,
.link-inherit,
.link-inherit:hover,
.link-inherit:focus {
    color: #000;
}

h1 {
    margin: 2em 0 0.5em 0;
}

h2 {
    margin: 1em 0 0.2em 0;
}

h3 {
    margin: 0.8em 0 0 0;
}