.pdf-header {
    margin-top: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    color: #000;
}

.pdf-footer {
    border: none;
    color: #000;
}

a,
.link-inherit {
    color: #000;
}

a:hover,
a:focus,
.link-inherit:hover,
.link-inherit:focus {
    color: #000;
}

.hljs-comment {
    color: #444!important;
}

pre,
code,
pre p {
    border: none;
    background-color: #fff!important;
}